.app-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  color: #333;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
}
.app-container .ant-card {
  width: 100%;
  margin: auto;
}


.avatar-img {
  width: 80%; /* Leaves 10px gap on left & right */
  height: auto;
  object-fit: cover;
  display: block;
  margin: 10px auto;       /* centers image and adds vertical space */
  background: #fff;
  border-radius: 8px;      /* matches card rounded corners */
}
